<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtourismapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
        android:allowBackup="true"
        android:label="@string/is"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTourismApplication">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEhL9Yur-AoiMjWbi4oKDNLXhJ38Y8c2c"/>

        <activity
            android:name=".login"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".signup"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".logout"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".Settings"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".Info"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".FavouritesFragment"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".MapsActivity"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".HomeFragment"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>

        <activity android:name=".ben"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".cullen"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".dun"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".lin"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".loch"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".pap"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".sbb"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".smoo"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".strath"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".wallace"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".wsb"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".lusk"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>
        <activity android:name=".ContentMain"
            android:theme="@style/Theme.AndroidTourismApplication.NoActionBar"/>







    </application>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


</manifest>